<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/index.css" />
    
    <title>{{title}}</title>
</head>

<body class="body-index">
    <h1>Job-Search</h1>

    <form action="/search" method="get">
        <div>
            <input type="text" name="keyword" placeholder="input a job and press enter" required>
            <button type="submit" class="custom-btn btn-index"><span>Search</span></button>
        </div>
    </form>
    
    <h3>find by <a href="https://remoteok.com" target="_blank">remoteok.com</a> and <a href="https://weworkremotely.com" target="_blank">weworkremotely.com</a></h3>
</body>

</html>